.wrap {
  font-family: var(--Helvetica);
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  color: var(--color-white);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}


.wrap__main {
  overflow: hidden;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 5.5rem;
}

h4 {
  color:var(--color-primary);
  font: 200 3.4rem / normal "HelveticaNeueCyr-Light";
}